$logoFont: 'Kaushan Script', cursive;
$primaryFont: 'Work Sans', sans-serif;


$mainColor: rgb(253, 166, 34);
$secondaryColor: rgb(75, 0, 0);
$footerColor: rgb(138, 138, 138);

$colorLowOpacity: rgba(247, 247, 236, 0.2);


$borderLight: 0.2rem solid rgb(219, 219, 219);

$iconborder: 1rem solid white;

$transitionCommon: all 0.3s ease-in-out;

$lightColor: rgb(219, 219, 219);


$sectionWidth: 70%;